body {
  padding-top: 54px;
  background-color: lightgreen;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-custom {
    background-color: Green!important;
}

.top {
	padding-top: 30px;
}

.breadcrumb {
	background-color: lightgreen;
	border-style: solid;
	border-color: green;
	border-width: 2px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.groepfoto {
	width: 600px;
	height: 500px;
}

.textshadowP {
    text-shadow: -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000;
}

.midlogo {
    width: auto;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
